<!doctype html>
<html class="no-js" lang="en">
@await Component.InvokeAsync("Head")
	@await Component.InvokeAsync("Header")

<body>
	<!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	<!-- Header Area Start -->
	<!-- Header Area End -->
	@RenderBody()
	<!-- Footer Start -->
	@await Component.InvokeAsync("Footer")
	<!-- Footer End -->
	<script src="/assets/js/vendor/jquery-3.6.0.min.js"></script>
	<script src="/assets/js/vendor/jquery-migrate-3.3.2.min.js"></script>
	<script src="/assets/js/bootstrap.bundle.min.js"></script>
	<script src="/assets/js/jquery.meanmenu.js"></script>
	<script src="/assets/js/jquery.magnific-popup.js"></script>
	<script src="/assets/js/ajax-mail.js"></script>
	<script src="/assets/js/owl.carousel.min.js"></script>
	<script src="/assets/js/jquery.mb.YTPlayer.js"></script>
	<script src="/assets/js/jquery.nicescroll.min.js"></script>
	<script src="/assets/js/plugins.js"></script>
	<script src="/assets/js/main.js"></script>

	@RenderSection("Script", false)
</body>

<!-- Mirrored from htmldemo.net/tm/eduhome/eduhome/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 24 Jun 2023 06:57:08 GMT -->
</html>

