@using EduHome.Core.Entities;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ForgotPassword
@{
    ViewData["Title"] = "Forgot Password";
}

<h1 class="bg-info text-white"> Forgot Password</h1>
<form asp-action="ForgotPassword" method="post">
    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" name="email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>