@using EduHome.Core.Entities;
@using EduHomeUI.ViewModels.UsersViewModel;
@model UserRegisterViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.Extensions.Options
@inject IOptions<ReCAPTCHASettings>  GooglereCAPTCHA

<div class="register-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center">
                <div class="login">
                    <div class="login-form-container">
                        <div class="login-text">
                            <h2>Sign Up</h2>
                            <span>Please fill in the following details to create your account.</span>
                        </div>
                        <div class="login-form">
                            <form method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <partial name="_CaptchaInput" />
                                <div class="form-group">
                                    <label asp-for="FirstName" class="form-label">First Name</label>
                                    <input asp-for="FirstName" type="text" class="form-control">
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="LastName" class="form-label">Last Name</label>
                                    <input asp-for="LastName" type="text" class="form-control">
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="DateOfBirth" class="form-label">Date of Birth</label>
                                    <input asp-for="DateOfBirth" type="date" class="form-control">
                                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="UserName" class="form-label">Username</label>
                                    <input asp-for="UserName" type="text" class="form-control">
                                    <span asp-validation-for="UserName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="EmailAddress" class="form-label">Email Address</label>
                                    <input asp-for="EmailAddress" type="email" class="form-control">
                                    <span asp-validation-for="EmailAddress" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Password" class="form-label">Password</label>
                                    <input asp-for="Password" type="password" class="form-control">
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ConfirmPassword" class="form-label">Confirm Password</label>
                                    <input asp-for="ConfirmPassword" type="password" class="form-control" />
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <div class="login-toggle-btn">
                                        <input type="checkbox" id="remember">
                                        <label for="remember">Remember me</label>
                                        <a href="#">Forgot Password?</a>
                                    </div>
                                </div>
                                <div class="form-group" style="margin-top: 20px;">
                                    <button type="submit" class="btn btn-primary" style="background-color: transparent; color: red; border: 2px solid red;">Sign Up</button>
                                </div>

                                <div class="form-group">
                                    <p>Already have an account? <a asp-action="Login">Log in</a></p>
                                </div>

@*                                <partial name="_ValidationScript" />*@
                            </form>




                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Script{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js" integrity="sha512-xq+Vm8jC94ynOikewaQXMEkJIOBp7iArs3IhFWSWdRT3Pq8wFz46p+ZDFAR7kHnSFf+zUv52B3prRYnbDRdgog==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  @*  <script src="https://www.google.com/recaptcha/api.js?render=@GooglereCAPTCHA.Value.ReCAPTCHA_Site_Key"></script>
    <script>
        function onClick(e) {
            e.preventDefault();
            grecaptcha.ready(function () {
                grecaptcha.execute('@GooglereCAPTCHA.Value.ReCAPTCHA_Site_Key', { action: 'submit' }).then(function (token) {
                   
                });
            });
        }
    </script>*@
}