<!-- welcome_template.html -->
<html>
<head>
    <style>
    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome to Edu Home</h1>
        <p>Thank you for subscribing to our weekly newsletter!</p>
        <p>Here are some important updates and information:</p>
        <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            <li>Ut fermentum nunc vel velit ultricies, et pellentesque ligula aliquet.</li>
            <li>Sed non metus vitae neque eleifend aliquam.</li>
        </ul>
        <p>Feel free to explore our website for more educational resources.</p>
        <p>Best regards,</p>
        <p>The Edu Home Team</p>
    </div>
</body>
</html>
