@using EduHomeUI.Areas.EHMasterPanel.ViewModels.LanguageViewModels
@model LanguageViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Create Language</h4>
                <form method="post">
                    <div class="mb-3 row">
                        <label asp-for="LanguageOption" class="col-md-2 col-form-label">Language</label>
                        <div class="col-md-10">
                            <input asp-for="LanguageOption" class="form-control" type="text" id="example-text-input">
                            <span asp-validation-for="LanguageOption" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
