@using EduHomeUI.Areas.EHMasterPanel.ViewModels.LanguageViewModels;
@model LanguageIndexViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<partial name="_Notification" />
@{
    int count = 1;
}
<div class="container-fluid">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Languages</h4>
                <a asp-controller="Language" asp-action="Create" class="btn btn-primary mb-4">Create New Language</a>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Language</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var language in Model.Languages)
                            {
                                <tr>
                                    <td>@count</td>
                                    <td>@language.LanguageOption</td>
                                    <td>
                                        <a asp-action="Delete" asp-route-id="@language.Id" class="btn btn-danger"><i class="bi bi-trash-fill"></i></a>
                                    </td>
                                </tr>
                                count++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
